doctype html
html(lane='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='description' content='')
    meta(name='author' content='')

    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/styles.css', rel='stylesheet')
    link(href='/stylesheets/bootstrap-table.min.css', rel='stylesheet')
    link(href='/stylesheets/bootstrap-slider.min.css', rel='stylesheet')


  title= title
  body
    div(class="container")
      div(class="page-header")
       h1 Har Data Viewer

      block content

  footer(class="footer")
    div(class="container")
      p(class="text-muted") by chili_con_carne


  script(src='/javascripts/underscore-min.js')
  //script(src='/javascripts/d3.min.js')
  script(src='/javascripts/jquery.min.js')
  script(src='/javascripts/bootstrap.min.js')
  //script(src='/javascripts/interactive_graph.js')
  script(src='/javascripts/moment.js')
  script(src='/javascripts/bootstrap-slider.min.js')
  script(src='/javascripts/detailed_har_entries.js')
  script(src='/javascripts/bootstrap-table.min.js')
  script(src='/javascripts/bootstrap-table-export.min.js')
  script(src='/javascripts/tableExport.min.js')

